<div class="pub-list-item" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>

  {{/* APA Style */}}
  {{ if eq (site.Params.publications.citation_style | default "apa") "apa" }}

    <span itemprop="author" class="article-metadata li-cite-author">
      {{ partial "page_metadata_authors" . }}
    </span>
    ({{- .Date.Format "2006" -}}).
    <a href="{{ .RelPermalink }}" itemprop="name">{{ .Title }}</a>.
    {{ if .Params.publication_short }}
      {{- .Params.publication_short | markdownify -}}.
    {{ else if .Params.publication }}
      {{- .Params.publication | markdownify -}}.
    {{ end }}

  {{ else }}

    {{/* MLA Style */}}
    <span itemprop="author" class="article-metadata li-cite-author">
      {{ partial "page_metadata_authors" . }}
    </span>.
    <a href="{{ .RelPermalink }}" itemprop="name">{{ .Title }}</a>.
    {{ if .Params.publication_short }}
      {{- .Params.publication_short | markdownify -}},
    {{ else if .Params.publication }}
      {{- .Params.publication | markdownify -}},
    {{ end }}
    {{- .Date.Format "2006" -}}.

  {{ end }}

  {{/* === Unified Buttons Row === */}}
  <div class="article-links">
    {{ if .Params.abstract }}
      <a class="btn btn-outline-success abstract-toggle" role="button">Abstract</a>
    {{ end }}
    {{ partial "page_links" (dict "page" . "is_list" 1) }}
  </div>

  {{ if .Params.abstract }}
    <div class="abstract-content" style="display: none;">
      {{ .Params.abstract | markdownify }}
    </div>
  {{ end }}
</div>
